_DS_Store
.vs/
*.csproj
*.sln
Library/
Temp/
UnityPackageManager/
YouAreMyDiamond/build/contracts/
YouAreMyDiamond2/build/contracts/
node_modules
package-lock.json
cache/
private/
pkg/
Build/
obj/
bin/
build/